body {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 100pt;
  }

.header {
    text-align: center;
}

.container {
    border: 1px solid #4b4b4b;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    padding: 10px;
}
.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin:auto;  
}
.button {
    height: 60px;
    padding: 5px;
    background-color: #d8d8d8;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #000000;
}

.button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #fff;
    background-color: #1671e7;
}
.operator:hover {
    background-color: #004299;
}

.clear {
    background-color: #ee383e;
    border-color: #000000;
    color: #fff;
    width: 80px;
    height: 30px;  
}

.clear:hover {
    background-color: #f17377;
}
.equal-sign {
    background-color: #15c915;
    border-color: #007a15;
    color: #fff;
}
.equal-sign:hover {
    background-color: #007a15;
}
.screen{
    background-color:rgba(85, 218, 252, 0.719);
    text-align: end;
    justify-content: left;
    color: black;
    font-size: medium;
    width: 50%;
    height: 30%;
    cursor: default;
    padding: 15px; 
    padding-left: 40%;
    margin-bottom: 10px;
}